*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
  /* Container for the login form */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-image: linear-gradient(to right,#EBEAFF,#9694FF);
  }
  
  /* Styling for the login box */
  .login-box {
    background-color: #ECF2FF;
    padding: 40px;
    width: 40%;
    min-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form group and input styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Error message styling */
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Button styling */
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #0056b3;
  }

  /* Style for the register link container */
.register-link {
    margin-top: 20px;
    text-align: center; /* Center align the text */
  }
  
  /* Style for the link */
  .register-link a {
    color: #007bff; /* Change link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make text bold */
  }
  
  /* Style for hover effect */
  .register-link a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #0056b3; /* Change color on hover */
    cursor: pointer; /* Change cursor to pointer */
  }
  